.content-container {
	height: 100%;
	display: flex;

	formations-sidebar {
		flex-grow: 0;
	}

	.visualizer-container {
		flex-grow: 1;
	}
}

.visualizer-container {
	position: relative;
	width: 100%;
	height: 100%;
	background: #202020;

	.directions {
		position: absolute;
		left: 1rem;
		bottom: 1rem;
		z-index: 1;
		opacity: 0.5;
		color: #eee;
	}

	button {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
		z-index: 1;
	}
}

canvas {
	position: absolute;
}
