.layout-container {
	height: 100%;
	position: relative;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	.navbar {
		flex-grow: 0;
	}

	.outlet-container {
		flex-grow: 1;

		position: relative;

		> ::ng-deep * {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
